# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Database (You don't want to upload your private property data to GitHub!)
data.db
data.db-journal

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
